nav {
  color: coral;
  background-color: blueviolet;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  ul {
    margin: 0;
    display: inline-flex;
    //flex-direction: row;
    //justify-content: space-between;
    list-style-type: none;
    li {
      padding: 0 0.4rem;
    }
    //border: 1px solid white;
  }
  div {
    display: inline-block;
    a {
      margin: 0.5rem;
      padding: 0.4rem 0.8rem;
      border: 2px solid burlywood;
      border-radius: 5px;
    }
  }
}
