@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    /*font-size: 16px;*/
  }
  html {
    @apply max-h-screen antialiased;
  }

  body {
    @apply p-0 m-0;
  }
  h1 {
    @apply mt-0 mb-2 text-4xl font-normal leading-normal;
  }
  h2 {
    @apply mt-0 mb-2 text-3xl font-normal leading-normal;
  }
  h3 {
    @apply mt-0 mb-2 text-2xl font-normal leading-normal;
  }
  h4 {
    @apply mt-0 mb-2 text-xl font-normal leading-normal;
  } 
  h5 {
    @apply mt-0 mb-2 text-lg font-normal leading-normal;
  }
  h6 {
    @apply mt-0 mb-2 text-base font-normal leading-normal;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  ul {
    @apply ml-6 list-disc;
  }
  ol {
    @apply ml-6 list-decimal;
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .fullscreen-modal-container {
    @apply absolute top-0 flex items-center justify-center w-full h-full bg-gray-900/20 backdrop-blur-sm;
  }
  .btn-primary {
    @apply px-4 py-2 my-4 font-bold text-white bg-blue-500 rounded;
  }
  .bg-clip-pink-violet { /* a test */
    @apply text-transparent bg-clip-text bg-gradient-to-r from-pink-500 to-violet-500;
  }
  .form-label {
    @apply text-sm text-gray-700;
  }
  .form-helper {
    @apply mt-1 text-sm text-gray-300 dark:text-gray-400;
  }
  .editorMenuBar {
    @apply flex items-center justify-center w-full pb-5 bg-white;
  }
  .editorIconActive {
    @apply py-[2px] px-[6px]  bg-slate-400;
  }
  .editorIconInactive {
    @apply py-[2px] px-[6px] ;
  }
}